body {
	background-color: LightGray;
}
div {
	border: 1px solid Chocolate;
}

.logo {
	width: 40px;
}

/** Main Navigation **/
.mainNavMenus {
	text-align: right;
}

.mainNavMenus li {
	display: inline-block;
	margin: 0 0.7em;

}

a {
	text-decoration: none;
}

/** Main Banner **/
.mainBanner {
	text-align: center;
}

/** Second Banner **/
.secondBanner {
	text-align: center;

}
.bannerGroup {
	display: inline;
}

/** Footer **/
footer {
	text-align: center;
	border-top: 1px solid DarkGray;
}