html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
	font-family: "Roboto", sans-serif;
}
html {
	-webkit-font-smoothing: antialiased;
}

div {
	border: 1px solid Chocolate;
}

.content .logo {
	height: 4.375em;
	
}

.logo {
	margin-top: ;
}

.content {
	max-width: 60em;
	margin-right: auto;
	margin-left: auto;
	height: 4em;
	padding: 0px 15px;
}


/** Main Navigation **/

.mainNavBar {
	padding: .25em 0 .25em 0;
	position: fixed;
	width: 100%;
	z-index: 9999;
	background-color: #FFFFFF;
}

.mainNavBar > .content {
	height: 4.375em;
}

.mainNavMenus {
	text-align: right;
	float: right;
	padding-top: .5em;
	padding-right: .60em;

}

.active {
	font-weight: 500;
	color: #4c5058;
}

.mainNavMenus li {
	display: inline-block;
	margin: 0 0.7em;
	color: #838994;
}

a {
	text-decoration: none;
}

li:hover {
    cursor: pointer;
    color: #333333;
}

/** Main Banner **/
.mainBanner {
	background-image: url("../images/first_background.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
	overflow: auto;
}

.bannerWords h1,
.bannerWords h3 {
	text-align: center;
	color: #FFFFFF;
	font-weight: 300;
}

.bannerWords h1 {
	margin-top: 16rem;
	font-size: 3rem;
}

.buttons {
	margin: 0 auto;
	text-align: center;
	margin-top: 1.563em;
	
}
button {
	width: 9em;
	height: 3em;
	background-color: #f15a29;
	border-radius: 5px;
	text-shadow: none;
	border-style: none;
	font-size: 1.125rem;
	color: white;
}

button:hover {
	background-color: #d9400e;
	cursor: pointer;
}



/** Second Banner **/

.bannerGroup li {
	display: inline-block;
	margin: 0 4em;
}

.secondBanner {
	text-align: center;
	padding-top: 6em;
}

.secondBanner h2 {
	font-size: 2.75rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 300;
}

.secondBanner h3 {
	font-weight: 300;
    font-size: 1.313rem;
}



/** Footer **/
footer {
	text-align: center;
	
	margin-bottom: 20em;
}

footer a {
	padding: 30px 20px;
}

.social {
    background-color: #fff;
    overflow: auto;
    padding-bottom: 9.375rem;
    text-align: center;
}
.social hr {
    border: 0;
    border-top: 1px solid #eaebec;
    margin: 1.313rem 0;
}
.socialIcons > li {
    border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
}
.socialIcons > li:hover {
    cursor: pointer;
}
.social .twitter {
    color: #55acee;
}
.social .facebook {
    color: #4c66a4;
}
.social .instagram {
    color: #3f729b;
}
.socialCopy {
    font-size: 0.9rem;
    font-weight: 300;
    color: #838994;
}


.socialCircles {
	border: 1px solid #FFFFFF;
	border-radius: 50%;
}

