html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/** Custom Styles **/
body {
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
}

.content {
	padding: 0 0.938rem;
	margin: 0 auto;
	min-width: 37.5rem;
	width: 60%;
}

/** Main Navigation **/
nav {
	background-color: #fff;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #DDD;
	z-index: 9999;
}

nav > .content {
	height: 4.375em;
}

nav .logo {
	height: 4.375em;
}

nav .links {
	float: right;
	color: #838994;
	font-size: 1.04rem;
	margin-top: 1.7rem;
	text-decoration: none;
}

nav .links li {
	display: inline-block;
	margin-left: 1.561rem;
}

nav .links li.active {
	font-weight: 500;
	color: #4c5058;
}


nav .links li:hover {
    cursor: pointer;
    color: #333333;
}


/** Main Banner **/
.introbanner {
	background-image: url("../images/first_background.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
	overflow: auto;
}

.introwords h1,
.introwords h3 {
	text-align: center;
	color: #FFFFFF;
	font-weight: 300;
}

.introwords h1 {
	margin-top: 16rem;
	font-size: 3rem;
}

.introwords h3 {
	margin-top: 1.25rem;
	font-size: 1.563rem;
}

.buttons {
	margin: 0 auto;
	text-align: center;
	margin-top: 1.563em;
	
}
button {
	width: 9em;
	height: 3em;
	background-color: #f15a29;
	border-radius: 5px;
	text-shadow: none;
	border-style: none;
	font-size: 1.125rem;
	color: white;
}

button:hover {
	background-color: #d9400e;
	cursor: pointer;
}



/** Middle **/

.middlegroup li {
	display: inline-block;
	margin: 0 4em;
}

.pagemiddle {
	text-align: center;
	padding-top: 5em;
	padding-bottom: 5em;
}

.pagemiddle h2 {
	font-size: 2.75rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 300;
}

.pagemiddle h3 {
	font-weight: 300;
    font-size: 1.313rem;
}



/** Footer **/
footer {
	text-align: center;
	margin-bottom: 20em;
}

.social {
    background-color: #fff;
    overflow: auto;
    padding-bottom: rem;
    text-align: center;
}
.social hr {
    border: 0;
    border-top: 1px solid #eaebec;
    margin: 1.313rem 0;
}
.socialicons > li {
    border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
}
.socialicons > li:hover {
    cursor: pointer;
}
.twitter {
    color: #55acee;
}
.facebook {
    color: #4c66a4;
}
.instagram {
    color: #3f729b;
}
.legal {
    font-size: 0.9rem;
    font-weight: 300;
    color: #838994;
}
.socialcircles {
	border: 1px solid #FFFFFF;
	border-radius: 50%;
}

